@media (max-width: 576px) {
  .logo {
    font-size: 16px !important;
  }
  .hero-text {
    text-align: center;
  }
  p {
    font-size: 13px !important;
  }
  .projects .project footer .tech-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 1rem !important;
    row-gap: 5px !important;
  }
  /* .gpuGLT .projects .project footer .tech-list li {
    margin-bottom: 10px;
  } */
  header p {
    font-size: 13px;
  }
  .button {
    padding-top: 11px !important;
    padding-bottom: 11px !important;
  }
}
@media (min-width: 768px) {
  .mobile_btn {
    display: none;
  }
}
@media (min-width: 1024px) {
}
@media (min-width: 1440px) {
}
